body{
    background-image: url("https://i.pinimg.com/564x/1b/08/4d/1b084d71c26be910139cf6be1306ca65.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}