body{
    background-image: url("https://i.pinimg.com/564x/0f/6a/38/0f6a388146dad944dabfbdba91552d25.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    
}